.header {
  background-color: white;
  color: var(--black-text);
}

.btn-portf {
  border: none;
  background-color: var(--back-team);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6px;
  text-align: center;
  letter-spacing: 0.03em;
}

.btn-portf:hover,
.btn-portf:focus {
  background-color: var(--back-team);
  color: var(--white-text);
}

.web {
  color: var(--logo);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-logo {
  color: var(--white-text);
}

footer {
  background-color: var(--fon);
}

.hero {
  background-color: var(--fon);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2px;
  letter-spacing: 0.03em;
}

.header-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1px;
  letter-spacing: 0.02em;
  color: var(--back-light-white);
}

.header-text:hover,
.header-text:focus {
  color: var(--logo);
}

.nav {
  color: var(--grey-text);
}

.nav:hover,
.nav:focus {
  color: var(--logo);
}

.hero-centr {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
}

.hero-href {
  color: var(--white-text);
  background-color: var(--logo);
}

.h3-speh {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--back-light-white);
}

.h3-speh-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  color: var(--back-light-white);
}

.our-deals {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--back-light-white);
}

.our-team {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 11.2px;
  letter-spacing: 0.03em;
}

.our-team {
  background-color: var(--back-team);
}

.names {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2px;
  letter-spacing: 0.03em;
}

.card-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2px;
  letter-spacing: 0.03em;
  color: var(--grey-text);
}

.name-project {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--back-light-white);
}

.text-project {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9px;

  letter-spacing: 0.03em;
}

.studio {
  color: black;
}

a {
  text-decoration: none;
}
